<!DOCTYPE html>
<html>
  <head>
    <title>Result in postman</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><%= title %></h1>
      <p>Result in postman </p>
  </body>  
</html>

